# Ignora el entorno virtual (SOLUCION DEL ERROR DE 100MB)
.venv/
venv/

# Archivos generados por MLOps y caches
.dvc/
mlruns/

# <--- ¡ASEGÚRATE DE QUE LA LÍNEA dvc.lock NO ESTÉ AQUÍ!

# Datos y modelos que DVC debe manejar (no Git)
data/
models/

# Caches de Python
__pycache__/
*.pyc